* {
    box-sizing: border-box;
    /* font-family: "Roboto", serif, Geneva, Tahoma, sans-serif; */
    font-family: 'Roboto-Light', sans-serif;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
} 

body {
    font-size: 0.85rem;
    /* letter-spacing: 0.06rem; */
    color: rgb(80, 80, 80);
    margin: 0;
}

/* COLOR SCHEME

    BLUE
    PRIMARY #0277BD
    LIGHT #58A5F0
    DARK #004C8C 
    
    SECONDARY ORANGE
    PRIMARY #F8C077
    LIGHT #FBD8AA
    DARK #F59D35
*/

/* HYPERLINKS */

a {
    text-decoration: none;
    color: #58A5F0;
    font-weight: bold;
}

a:active {
    color: #FF9B21;
}

/* aHov for styleguide */
a:hover, a:focus, .aHov {
    color: #FF9B21;
}

/* LIST styling */

li {
    color: #0277BD;
    margin: 1rem;
    list-style-type: none;
    margin: 0.5rem;
}


/* PARAGRAPHS / one lines */
p {
    padding: 0.25rem;
    max-width: 40rem;
    font-size: 0.7rem;
}

/* purpose of making inline text content bold */
.boldFont {
    font-size: 1rem;
    font-weight: bold;
    color: #0277BD;
}

/* HEADINGS */

h1 {
    font-size: 1.2rem;
    color: #F59D35;
    margin: 1.5rem 0 .5rem 0;
    text-transform: uppercase;
    letter-spacing: .08rem;
}

h2 {
    font-size: 0.9rem;
    color: rgb(80, 80, 80);
    margin-top: .2rem;
    letter-spacing: .05rem;
}


/* navigation bar */

/* nav container top of every page */
.headerTitle {
    font-size: 1rem;
    color: rgb(80, 80, 80);
    letter-spacing: 0.2rem;
}

.navTop {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 0; 
    align-items: center;
    justify-content: space-between;
}

/* navigation items separate from the logo. actionable hyperlinks */
.navBar {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* individual navigation items */
.navItem{
    display: inline-block;
    margin: .2rem;
    color: #58A5F0;
    font-size: 0.7rem;
    letter-spacing: .15rem;
    text-align: center;
    align-content: space-between;
    flex-basis: 20%;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;
}

#searchIcon {
    fill: #58A5F0;
    width: 20%;
}

/* when navitem clicked */
.navItem:active {
    color:#4fb3bf;
}

hr {
    border: 0;
    border-top: 1px solid #004C8C;
    margin-top: 1.5rem;
}

.sidebar {
    width: 3%;
    background-color: #58A5F0;
}

.breadcrumb{
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .15rem;
}

.pageContainer {
    display: flex;
    flex-direction: row;
}

/* defining the centered "grid" for every page - margins on each side*/
.content {
    margin: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* for defining rows with flex - will allow space between them in a row*/
.rowofx, .img-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pageContent {
    margin-top: 5%;
}

footer {
    margin: 10rem auto 3rem auto;
    width: 100%;
    padding: 2rem;
}

footer>p{
    color:#58A5F0;
}




/* adjusting to one column for mobile devices */

@media all and (max-width: 650px) {

    body {
        font-size: .9rem;
        letter-spacing: 0.05rem;
    }

    .navTop {
        flex-direction: column;
    }

    .navbar {
        margin-top: 1rem;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .navItem {
        flex: 40%;
    }

    .navImg {
        top: 1.5rem;
    }

    .center-grid {
        margin: 1rem;
    }

}
