* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}

/* Roboto as all fonts - Material-ish theme */
/* @font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
} */

body {
    font-size: 0.85rem;
    letter-spacing: 0.06rem;
    color: rgb(80, 80, 80);
    margin: 0;
}

/* COLOR SCHEME
   PRIMARY #0277BD
   LIGHT #58A5F0
   DARK #004C8C */

/* HYPERLINKS */

a {
    text-decoration: none;
    color: #0277BD;
    font-weight: bold;
}

a:active {
    color: #004C8C;
}

/* aHov for styleguide */
a:hover, a:focus, .aHov {
    color: #CBE3F1;
}

/* LIST styling */

li {
    color: #0277BD;
    margin: 1rem;
}


/* PARAGRAPHS / one lines */
p {
    padding: 0.25rem;
    max-width: 40rem;
    font-size: 0.7rem;
    letter-spacing: .03rem;
    line-height: 1.2rem;
}

.aboutText {
    max-width: 25rem;
    padding: 1rem 0;
}

/* HEADINGS */

h1 {
    font-size: 1.5rem;
    color: #0277BD;
    text-transform: uppercase;
}

h2 {
    font-size: 0.9rem;
    margin-top: 2rem;
}

h3 {
    font-size: 0.6rem;
    text-transform: uppercase;
}

h4 {
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

h5 {
    font-size: 0.6rem;
    color: #004C8C;
    letter-spacing: 0.06rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
}

h7 {
    font-style: italic;
    font-size: 0.6rem;
    color: darkgrey;
}

/* navigation bar */

/* nav container top of every page */
.headerTitle {
    color: #000;
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    transition: ease-in-out 0.2s;
}

.navTop {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;    
    align-items: center;
    justify-content: space-between;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width:thin;
}

/* breadcrumb links below nav indicating which page we're on */
.breadcrumb {
    margin: 2.5rem 0 1.5rem 0;
    color: #58A5F0;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* navigation items separate from the logo. actionable hyperlinks */
.navBar {
    align-self: center;
    display: flex;
}

/* individual navigation items */
.navItem{
    display: inline-block;
    margin: .2rem;
    padding: 0.8rem; 
    color: #58A5F0;
    font-size: 0.7rem;
    text-align: right;
    align-content: space-between;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;
}

/* when navitem clicked */
.navItem:hover {
    color:#CBE3F1;
    transition: ease-in-out 0.2s;
}

.navActive {
    color: #004C8C;
}

.pageContainer {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 3%;
    background-color: #E3F0FD;
}

/* defining the centered "grid" for every page - margins on each side*/
.content {
    margin: 5% 7%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* for defining rows with flex - will allow space between them in a row*/
.rowofx, .img-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.mainProgress {
    display: flex;
}

footer {
    margin: 4rem 0 2rem;
    border-top-color: black;
    border-top-style: solid;
    border-top-width:thin;
}

footer>p{
    color:#58A5F0;
}

.footer-links {
    padding: 0! important;
    margin: 0! important;
    display: flex;
    justify-content: center;
    align-content: center;
    float: center;
}

.footer-links li {
    display: inline-block;
    margin: 0 .2rem;
    padding: 0 0.8rem; 
    color: #58A5F0;
    font-size: 0.7rem;
    text-align: right;
    align-content: space-between;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;
}

.footer-warnings{
    margin-bottom: 2rem;
}


/* academic progress */

.siathead h2{
    color: #000;
    margin-bottom: 0;
}

.progress {
    width:50%;
    padding-right:1rem;
}

.courseList {
    width: 90%;
}

.banner {
    padding: .8rem;
    text-align: center;
    display: flex;
    margin-top: .6rem;
}

.banner-left h6, .banner-left h3 {
    color: #004C8C;
}

.first-level-progress-banner>.banner-left>h6,
.first-level-progress-banner>.banner-left>h3,
.second-level-progress-banner>.banner-left>h6,
.second-level-progress-banner>.banner-left>h3 {
    color: #FFF;
}

.minibanner-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mini-banner {
    width: 24%;
    height: 5rem;
}

.first-level-progress-banner {
    background: #0277BD;
}

.first-level-progress-banner:hover, .first-level-progress-banner.active {
    background: #085F93;
    transition: ease-in-out 0.2s;
}

.second-level-progress-banner {
    position: relative;
    background: #97C8E5;
}

.second-level-progress-banner:hover, .second-level-progress-banner.active {
    background: #58A6D6;
    transition: ease-in-out 0.2s;
}

.progress-banner {
    position: absolute;
    background-color: #58A6D6;
    margin: 0;
    height: 100%;
    top:0;
    left:0;
}

.upper-level-progress-banner, .art-sci-progress-banner, .media-arts-progress-banner, 
.design-progress-banner, .interactive-systems-progress-banner {
    background: #CBE3F1;
}

.upper-level-progress-banner:hover, .art-sci-progress-banner:hover, .media-arts-progress-banner:hover, 
.design-progress-banner:hover, .interactive-systems-progress-banner:hover, 
.first-recommendation:hover,
.upper-level-progress-banner.active, .art-sci-progress-banner.active, .media-arts-progress-banner.active, 
.design-progress-banner.active, .interactive-systems-progress-banner.active, 
.first-recommendation.active {
    background: #97C8E5;
    transition: ease-in-out 0.2s;
}

.recommendations {
    width:50%;
    display: block;
    padding-left: 1rem;
}


.first-recommendation {
    padding: .8rem;
    background: #CBE3F1;
    text-align: center;
    display: flex;
    margin-top: .6rem;
}

.recommendation-details {
    margin: .5rem 1rem;
}

.class-ratingbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.class-ratingbar h3 {
    margin-right: auto;
}

.bar-container {
    width: 60%;
    margin-right: 10%;
}

.bar-empty {
    overflow: hidden;
    background-color: #79B7DC;
    height: .5rem;
}

.bar-rating {
    background-color: #0277BD;
    height: .5rem;
}

.more-info-link {
    float: right;
    color: #0277BD;
}

.h3-academicprogress {
    color: #ffffff;
    margin: 0;
    margin-top: .5rem;
}

.banner-left{
    float: left;
    width: 90%;
    padding-left: 10%;
}

.banner-right {
    float: left;
    width: 10%;
    margin-top: .6rem;
}

.first-level-checklist, .second-level-checklist, .third-level-checklist,
.art-checklist, .sci-checklist, .media-arts-checklist,
.design-checklist, .interactive-systems-checklist, .recommendation-details {
    max-height: 0;
    max-width: 100%;
    overflow: hidden;
    transition: max-height 0.2 ease-out;
}

.checklist-item {
    margin: .5rem 1rem;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    text-align: left;
}

.checklist-item>h3{
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 50%;
}

.checklist-item>h7{
    padding-top: .5rem;
    margin-left: auto;
    margin-right: 1rem;
    text-align: right;
}

/* .checklist-item input{
    margin-top: .5rem;
    margin-right: 5%;
} */

/* CUSTOM CHECKMARK
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

/* The container */
.checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    margin-top:.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
    background-color: rgba(2, 120, 189, 0.5);
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
    /* background-color: #0277BD; */
    background-color: #AAA;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.courseDone {
    font-style: oblique;
    color: #AAA;
}

.more-info-button {
    background-color: #0277BD;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.55rem;
    padding: .2rem .4rem;
    border-radius: 4px;
    vertical-align: middle;
    padding-top: .6rem;
    margin-left: 2rem;
}

.more-info-button:hover{
    background-color: #58A6D6;
    color: #FFF;
    transition: ease-in-out 0.1s;
}

.not-implemented {
    margin: 7rem;
    margin-left: 35%;
}


/* adjusting to one column for mobile devices */

@media all and (max-width: 650px) {

    body {
        font-size: .9rem;
        letter-spacing: 0.05rem;
    }

    .navTop {
        flex-direction: column;
    }

    .navbar {
        margin-top: 1rem;
        width: 100%;
        flex-wrap: wrap;
       /* align-items: center;
        justify-content: space-between;*/
    }

    .navItem {
        flex: 40%;
    }

    .navImg {
        top: 1.5rem;
    }

    .center-grid {
        margin: 1rem;
    }

}


/* icons */

.fas fa-caret-down {
    color: #ffffff;
    font-size: 3em;
}